<div style="background-color: rgb(27, 26, 26);padding: 0px;">
    <table style="width: 100%;">
        <tr>
            <td style="width:60%">
                <div style="text-align: center;padding: 20px;">
                    <span style="font-weight: bold;font-size: 40px;color:rgb(233, 206, 149)">Know-how</span><br>
                    <span style="color: white;font-size: 20px;"> We are knowledge network of the
                        smartest minds and practitioners who apply content to context for real outcomes.
                    </span>
                </div>
            </td>
            <td style="width: 40%;">
                <div style="padding: 40px;">
                    <img class="img" src="assets/about-assets-1.jpg">
                </div>

            </td>
        </tr>
    </table>
    <div style="width:75%;margin: auto;">
        <hr class="borderdanger">
    </div>
    <div style="width: 80%;margin: auto;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 48%;">
                    <div style="text-align: right;padding: 20px;">
                        <img class="rounded-circle imgceo" src="assets/about-ceo1.JPG">
                    </div>
                </td>
                <td style="width: 4%;padding: 20px;">
                    <div style="border-left: 2px solid rgb(230, 119, 119);height: 150px;"></div>
                </td>
                <td style="width: 48%;padding: 20px;">
                    <h5 style="color: moccasin;">JANAGAM SAIKUMAR </h5>
                    <h6 style="color: white;">The FOUNDER & CEO of JSK Tech Solutions </h6>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="width:50%;margin: auto;">
                        <hr class="borderdanger">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 48%;">
                    <div style="text-align: right;padding: 20px;">
                        <img class="rounded-circle imgceo" src="assets/co-found1.jpg">
                    </div>
                </td>
                <td style="width: 4%;padding: 20px;">
                    <div style="border-left: 2px solid rgb(230, 119, 119);height: 150px;"></div>
                </td>
                <td style="width: 48%;padding: 20px;">
                    <h5 style="color: moccasin;">JANAGAM SHARATH KUMAR </h5>
                    <h6 style="color: white;">The CO-FOUNDER & MANAGER of JSK Tech Solutions </h6>
                </td>
            </tr>
        </table>
    </div>
</div>