<div class="card componentStyle">
    <div style="margin: 1rem;">

        <div class="row">
            <div class="col-6">
                <form #f="ngForm">
                    <h4>Shipping Address</h4>
                    <div class="mb-3">
                        <input #name="ngModel" placeholder="Name" name="name" [(ngModel)]="shipping.name" type="text"
                            class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <input #name="ngModel" placeholder="Mobile" name="Mobile" [(ngModel)]="shipping.mobile"
                            type="number" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1"
                            type="text" class="form-control" placeholder="Line 1" required>
                    </div>
                    <div class="mb-3">
                        <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2"
                            type="text" class="form-control" placeholder="Line 2" required>
                    </div>
                    <div class="mb-3">
                        <input placeholder="City" #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text"
                            class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <input placeholder="Pincode" #city="ngModel" name="pincode" [(ngModel)]="shipping.pincode"
                            type="number" class="form-control" required>
                    </div>
                    <hr>
                    <div class="mt-6">
                        <button (click)="placeOrder()" [disabled]="!f.valid" class="btn btn-primary"><i
                                class="bi bi-cart-check-fill"></i> Place
                            Order</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div style="border-left: 1px solid rgb(83, 103, 127);">
                    <h4 style="margin-left: 25px;color:green;">Order Summary</h4>
                    <div class="card-body" style="text-align: center;">
                        <img src="{{product.imgUrl}}" style="width: 300px;height: 180px;">
                    </div>
                    <div class="card-body">

                        <!-- <p class="card-text">You have {{ totalItemsCount }} items to purchase.</p> -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b> {{ product.name }}</b>
                                <div class="float-end">
                                    {{ totalItemsCount }} <span
                                        *ngIf="product.category=='zVLgR0YwKN13dLU3OTdN' || product.category=='X4l49Fgmq3OLw0UUW2Dz' ">Kg</span>

                                    x {{ product.price | currency:'INR' }}
                                </div>
                            </li>
                            <li class="list-group-item fw-bold">
                                Total
                                <div class="float-end">
                                    {{ buyItemTotal | currency:'INR':'symbol' }}

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-left: 25px;">
                        <button (click)="addItem()" class="btn btn-outline-success">+</button> &nbsp;
                        <button *ngIf="totalItemsCount > 1" (click)="minusItem()"
                            class="btn btn-outline-success">-</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>