<table style="width: 100%;">
    <tr>
        <td>
            <h2>Produts</h2>
        </td>
        <td style="float: right;">
            <button type="button" class="btn btn-primary" routerLink="/add-produt">
                Add Product
            </button>
        </td>
    </tr>
</table>
<div class="row filterCard">
    <div class="col-md-3">
        <select class="form-control" [ngModel]="selectedCategory" (change)="changeCategory($event)"
            name="selectCategory" (keyup)="loadCategories()">
            <option value="">All Categories</option>
            <option *ngFor="let category of categories" [ngValue]="category.name">
                {{ category.name }}
            </option>
        </select>
    </div>
    <div class="col-md-9">
        <input class="form-control ml-2" type="search" placeholder="Search product..." name="searchTerm"
            [(ngModel)]="searchTerm" (keyup)="loadProducts()">
    </div>
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="card p-2">
    <table class="table" style="vertical-align: middle;width: 100%;">
        <thead>
            <tr>
                <th>Product</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Rating</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let x of products | paginate: { itemsPerPage:this.productsPerPage, currentPage: p }">
                <td><img src="{{x.imgUrl}}" style="width: 50px;height: 50px;border-radius: 50px;"></td>
                <td>{{x.name}}</td>
                <td>{{x.price}}</td>
                <th>{{x.category}}</th>
                <td>{{x.rating}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary" [routerLink]="['/edit-product',x.id]">
                        <i class="bi bi-pen-fill"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-info" [routerLink]="['/view-product',x.id]">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="deleteProduct(x.id)"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <label>Show </label>
                <select [(ngModel)]="productsPerPage">
                    <option [selected] value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option [value]="this.products.length">All</option>
                </select>
                <label> Orders</label>
            </td>
            <td class="text-end">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
        </tr>
    </table>
</div>